<div class="container">
  <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li>{{#link-to 'emails'}}Nobody's Email Client{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'new-email'}}New Email{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
