<div class="container">
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'emails'}}Nobody's Email Client{{/link-to}}</li>
      <li>{{#link-to 'new-email'}}New Email{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
